# Node.js dependencies
node_modules/

# Tailwind CSS output file
src/output.css

# Optional build folders
dist/
build/

# System files
.DS_Store
Thumbs.db

# Editor/IDE settings
.vscode/
.idea/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
